﻿@model StudentViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row align-content-center">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Создать
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @using (Html.BeginForm("Create", "StudentView", null, FormMethod.Post))
                    {
                        @Html.HiddenFor(r => Model.Student.Id)
                        <p>
                            @Html.LabelFor(r => Model.Student.FullName)
                            @Html.TextBoxFor(r => Model.Student.FullName, new { @class="form-control" })
                        </p>
                        <p>
                            @Html.LabelFor(r => Model.Student.BirthDate)
                            @Html.TextBoxFor(r => Model.Student.BirthDate, "{0:yyyy-MM-dd}", new { @class="form-control", @type = "date" })
                        </p>
                        <p>
                            @Html.LabelFor(r => Model.Student.Performance)
                            @Html.DropDownListFor(r => Model.Student.Performance, Model.Performances, new { @class="form-control" })
                        </p>
                        <p>
                            <input type="submit" class="btn-success btn" value="Сохранить"/>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

