﻿@model StudentListViewModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="row align-content-center">
    <div class="col-md-12">
        @Html.ActionLink("Создать", "Create", "StudentView", null, new { @class="btn btn-success" })
        <table class="table table-bordered table-hover table-info">
            <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Успеваемость</th>
                <th>X</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var it in Model.Items)
            {
                <tr>
                    <td>@Html.ActionLink(it.Student.Id.ToString(), "Index", "StudentView", new {@id = it.Student.Id})</td>
                    <td>@it.Student.FullName</td>
                    <td>@it.Student.BirthDate.ToShortDateString()</td>
                    <td>@it.Student.Performance</td>
                    <td>@Html.ActionLink("Удалить", "Delete", "StudentView", new {@id = it.Student.Id}, new {@class = "btn btn-danger"})</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>